// Colors
$color_main-text: #787878;
$color_title: #171717;
$color_accent: #10c9c3;
/// Footer Colors
$footer_bg-color: #141414;
$footer_title-color: white;
$footer_text-color: #bcbcbc;

// Fonts Families
$font-family_title: "Montserrat", sans-serif;
$font-family_main: "Nunito Sans", sans-serif;

// Fonts Sizes
/// Main
$font-size_main-text: 16px;
$font-size_title: 30px;
$font-size_second-title: 12px;
$line-height-text: 26px;
/// Intro
$font-size_intro-title: 38px;
$font-size_intro-main-text: 18px;
/// Footer
$font-size_footer-main-text: 15px;
$font-size_footer-title: 18px;

/// PHONE
/// Main
$font-size_title-sm: 26px;
$font-size_main-text-sm: 16px;
$line-height-text-sm: 24px;

/// Intro_phone
$font-size_intro-title-sm: 28px;
$font-size_intro-text-sm: 16px;
